<ion-side-menus>
    <!-- Main content -->
    <ion-side-menu-content drag-content="false">

        <ion-nav-bar class="bar-stable bar-nav slide-left-right" align-title="center" ng-controller="NavBarCtrl">
        </ion-nav-bar>

        <ion-nav-view animation="slide-left-right"></ion-nav-view>

    </ion-side-menu-content>





    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title title-left">Greet Me</h1>
        </ion-header-bar>

        <ion-content class="">
            <ul class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a ui-sref="app.hosts-nearby" class="item item-icon-left" menu-close>
                    <i class="icon ion-location"></i>
                    Nearby Locations
                </a>
                <a ui-sref="app.hosts-subscribed" class="item item-icon-left" menu-close>
                    <i class="icon ion-heart"></i>
                    My Locations
                </a>
                <a ui-sref="app.settings" class="item item-icon-left" menu-close>
                    <i class="icon ion-gear-b"></i>
                    Settings
                </a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
