<ion-view title="Forgot password?">
    <ion-nav-buttons side="right">
        <button class="button button-trans" ng-click="resetPassword()">
            Reset
        </button>
    </ion-nav-buttons>


    <ion-content padding="false">
        <form ng-submit="resetPassword()" novalidate>
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>


            <div class="list">
                <h5 class="padding-left">Email</h5>
                <label class="item item-input padding-left">
                    <i class="icon placeholder-icon ion-email"></i>
                    <input type="email" placeholder="" ng-model="startData.email">
                </label>

                <div class="padding color-dark-gray">We will send you an email with instructions to reset your password.</div>
            </div>
        </form>

    </ion-content>
</ion-view>


