<ion-view title="" hide-nav-bar="true">
    <ion-content scroll="false">
        <div class="l-fixed-bottom padding">
            <button ui-sref="start.email-signup" class="button button-large button-block button-assertive font-weight-bold">Get started <i class="icon icon-right pull-right ion-ios7-arrow-right"></i></button>
            <button ui-sref="start.email-login" class="button button-block button-outline button-dark">Already have an account? Log In</button>
        </div>
    </ion-content>
</ion-view>
