
@font-face {
  font-family: 'Bariol';
//  src: url(../fonts/Bariol_Light.svg#Bariol-Light) format('svg');
  src: url(../../fonts/Bariol_Light.otf) format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Light.otf) format('truetype');
  font-style: normal;
  font-weight: 300;
}




@font-face {
  font-family: 'Bariol';
//  src: url(../fonts/Bariol_Regular.svg#Bariol-Regular) format('svg');
  src: url(../../fonts/Bariol_Regular.otf) format('truetype');
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Regular.otf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Regular.otf) format('truetype');
  font-style: normal;
  font-weight: 500;
}





@font-face {
  font-family: 'Bariol';
//  src: url(../fonts/Bariol_Bold.svg#Bariol-Bold) format('svg');
  src: url(../../fonts/Bariol_Bold.otf) format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Bold.otf) format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Bold.otf) format('truetype');
  font-style: normal;
  font-weight: 700;
}




// ============================================================
// ====== Italic
// ============================================================



@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Light_Italic.otf) format('truetype');
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Light_Italic.otf) format('truetype');
  font-style: italic;
  font-weight: 300;
}




@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Regular_Italic.otf) format('truetype');
  font-style: italic;
  font-weight: normal;
}


@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Regular_Italic.otf) format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Regular_Italic.otf) format('truetype');
  font-style: italic;
  font-weight: 500;
}





@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Bold_Italic.otf) format('truetype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Bold_Italic.otf) format('truetype');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Bariol';
  src: url(../../fonts/Bariol_Bold_Italic.otf) format('truetype');
  font-style: italic;
  font-weight: 700;
}

